Django~=4.0.4
django-simpleui~=2022.4.9
configparser~=5.2.0
PyMySQL~=1.0.2
tqdm~=4.64.0
requests~=2.27.1
beautifulsoup4~=4.11.1
jsonpath~=0.82
pyevmasm~=0.2.3
py-solc~=3.2.0
py-solc-x~=1.1.1
mythril~=0.22.43
slither-analyzer~=0.8.2
solc-select~=0.2.1
numpy~=1.22.3
evm-cfg-builder~=0.3.1