<!doctype html>
{% extends 'layout/base.html' %}
{% load static %}
{% block title %} Etherscan Sync {% endblock %}
{% block css %}
    <!--Bootsrap Table-->
    <style>
        #toolbar {
            margin: 0;
        }

        .content {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            flex: 1;
            display: flex;
            flex-direction: column;

        }

        .card {
            margin-bottom: 1.25rem;
        }

        /*修复分页next按钮布局*/
        .page-item.page-next, .page-item.page-prev {
            flex: 0 0 auto;
        }
    </style>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %}
{% block contents %}
    {% csrf_token %}
    <div class="container-xl ">
        <!-- 产品信息卡片 -->
        <div class="card card-lg ">
            <div class="card-body">
                <!-- 卡片边缘缎带 -->
                <div class="ribbon ribbon-top ribbon-start">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                    </svg>
                </div>
                <!--标题&介绍-->
                <div class="d-flex flex-row justify-content-center" {#style="margin-top: 180px;"#}>
                    <div class="p-2"><i class="fa fa-bug" style="zoom: 2.2;"></i></div>
                    <div class="p-2"><h1> Etherscan Sync </h1></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- 清单表格 -->
    <div class="container-xl">
        <div class="card card-lg">
            <div class="card-body">
                <!-- 卡片边缘缎带 -->
                <div class="ribbon ribbon-top ribbon-start">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-comet" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M15.5 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z"/>
                        <line x1="4" y1="4" x2="11" y2="11"/>
                        <line x1="9" y1="4" x2="12.5" y2="7.5"/>
                        <line x1="4" y1="9" x2="7.5" y2="12.5"/>
                    </svg>
                </div>
                {#                <span class="card-title text-center">#}
                {#                    EtherScan列表#}
                {#                </span>#}
                <div>
                    <a href="#" id="update-btn" class="update-btn btn btn-pill">
                        Update list
                    </a>
                    <a href="#" id="save-btn" class="save-btn btn btn-pill">
                        Save sol
                    </a>
                    <a href="#" id="vul-btn" class="vul-btn btn btn-pill">
                        Vul Detection
                    </a>
                </div>
                <!--结果表格-->
                <div class="table-responsive" id="refresh">
                    <table class="table text-center" id="table"
                           data-toggle="table"
                           data-show-export="true"
                           data-click-to-select="true"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-auto-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-show-columns-toggle-all="true"
                           data-minimum-count-columns="2"
                           data-show-pagination-switch="true"
                           data-pagination="true"
                           data-id-field="id"
                           data-page-list="[10, 25, 50, 100, all]"
                           data-response-handler="responseHandler">
                        <thead class="table-primary">
                        <tr>
                            <th data-sortable="true" data-field="id">ID</th>
                            <th data-sortable="true" data-field="add">Address</th>
                            <th data-sortable="true" data-field="name">Name</th>
                            <th data-sortable="true" data-field="compiler">Compiler</th>
                            <th data-sortable="true" data-field="version">Version</th>
                            <th data-sortable="true" data-field="verified_time">verified_time</th>
                            <th data-sortable="true" data-field="fpath">fpath</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.add }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.compiler }}</td>
                                <td>{{ i.version }}</td>
                                <td>{{ i.verified_time }}</td>
                                {#                                <td>{{ i.fpath }}</td>#}

                                {% if not i.fpath %}
                                    <td>
                                        None
                                    </td>
                                {% else %}
                                    <td>
                                        Saved
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <!--Bootsrap Table-->
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table-zh-CN.js' %}"></script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- 消息弹层组件 依赖jquery -->
    <script src="{% static 'plugins/layer/layer.js' %}"></script>
    <!--按钮事件-->
    <script>
        $(function () {
            $(".update-btn").click(function () {
                // 此参数需要传递给后端,否则会csrf禁止,报403错误
                var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                $.ajax({
                    url: "/update_list_ajax/",  // 请求的地址
                    type: "post",  // 请求方式
                    // 请求时传递过去的数据
                    data: {'csrfmiddlewaretoken': csrf},
                    dataType: "json",  // 返回的数据格式
                    async: true,  // 异步的ajax
                }).success(function (data) {
                    if (data.res === 1) {
                        layer.msg('更新成功', {icon: 1});
                        {#$("#sol_bin").val(data.opcode)#}
                    } else if (data.res === 0) {
                        // 请求失败，显示错误信息
                        layer.msg('更新失败', {icon: 2});
                    }
                })
            });
            $(".save-btn").click(function () {
                {#var sol_bin = $('#sol_bin').val();#}
                {#$("#text").val(sol_bin);#}
                // 此参数需要传递给后端,否则会csrf禁止,报403错误
                var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                $.ajax({
                    url: "/save_sol_ajax/",  // 请求的地址
                    type: "post",  // 请求方式
                    // 请求时传递过去的数据
                    data: {'csrfmiddlewaretoken': csrf},
                    dataType: "json",  // 返回的数据格式
                    async: true,  // 异步的ajax
                }).success(function (data) {
                    if (data.res === 1) {
                        layer.msg('保存成功', {icon: 1});
                        {#$("#sol_bin").val(data.opcode)#}
                    } else if (data.res === 0) {
                        // 请求失败，显示错误信息
                        layer.msg('保存失败', {icon: 2});
                    }
                })
            });
        });
    </script>
{% endblock %}
